*{
    margin: 0%;
    padding: 0%;
}

.header-navbar{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto;
}
.ancora-header{
    position: absolute;
    display: grid;
    left: 0; /* Alinha à esquerda */
    margin-top: -1%;
    grid-template-columns: anco img ;
    row-gap: 10px;
    align-content: space-around;
}

#ancora1{

}

#ancora2{

}

#img{
    grid-row: 2/3;
}